<ion-header class="bar-positive">
    <ion-navbar>
        <ion-title>Staff - Pull to refresh</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
                               pullingText="Pull to refresh"
                               refreshingSpinner="circles"
                               refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    <h2 *ngIf="!loading">Hello Members!</h2>
    <h2 *ngIf="loading">loading...</h2>
    <ion-item>
        <ul *ngIf="!loading">
            <li *ngFor="let person of staffMembers">
                <b>{{person.FirstName}} {{person.Surname}}</b><br/>
                Email: <a href="mailto:{{person.Email}}">{{person.Email}}</a>
            </li>
        </ul>
    </ion-item>
</ion-content>
